body {
  padding: 0 1rem;
}
table {
  table-layout: fixed;
}
thead {
  background: #f5f5f5;
}
td, th {
  white-space: nowrap;
}


.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-gray {
  color: gray;
}
.mb-0 {
  margin-bottom: 0;
}
.w-max {
  width: max-content;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-\[80px\] {
  width: 80px;
}
.w-\[86px\] {
  width: 86px;
}
.w-\[50px\] {
  width: 50px;
}
.w-\[98px\] {
  width: 98px;
}
.w-\[102px\] {
  width: 102px;
}

.after\:down-arrow::after {
  content: " ↓";
}
.after\:up-arrow::after {
  content: " ↑";
}